{
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": false,
  "tabWidth": 2,
  "proseWrap": "always",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["tv", "cx"]
}
